
<!DOCTYPE html>
<html>
<head>
    <title>Bank Login</title>
</head>
<body>
    <h2>Register</h2>
    <form method="post" action="/register">
        Name: <input name="name"><br>
        Account No: <input name="account_no"><br>
        PIN: <input name="pin" type="password"><br>
        <button type="submit">Register</button>
    </form>
    <hr>
    <h2>Login</h2>
    <form method="post" action="/login">
        Account No: <input name="account_no"><br>
        PIN: <input name="pin" type="password"><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>
